body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    padding: 15px;
}

.cards-flex-container{
    display:flex;
    justify-content: auto;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 80%;
}

.cards-flex-container > div {
    margin-left: 10px;
    margin-top: .5rem;
}

.title{
    margin-left: 45px;
}