<div class="title">
    <h1>Home</h1>
<p>Welcome to the home page!</p>
</div>

<div class="cards-flex-container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="row">
            <div class="col-8"><h2 class="card-title">Card title</h2></div>
            <div class="col-4"><h3>1</h3></div>
          </div>
          <p class="card-text">Simple Charts</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="row">
            <div class="col-8"><h2 class="card-title">Card title</h2></div>
            <div class="col-4"><h3>1</h3></div>
          </div>
          <p class="card-text">Simple Charts</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
